In [1]:
# Needed for SQL Alchemy  
from sqlalchemy import create_engine

# All query results are returned as Pandas DataFrames 
import pandas as pd

# Needed for %sql Magic
%load_ext sql

In [2]:
# Connect to the deals database
%sql mysql+pymysql://root:mysql@localhost/deals

/Users/trangvu/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

'Connected: root@deals'

In [3]:
# Create a view that matches companies to deals
result = %sql SELECT * FROM CompanyDeals;
companies = result.DataFrame()
companies

332 rows affected.

,DealName,RoleCode,CompanyName
0,ADT Limited,B1,"Western Resources, Inc."
1,ADT Limited,B2,Tyco International Ltd.
2,ADT Limited,T,ADT Limited
3,Advanta Corp.,A,"Fleet Financial Group, Inc."
4,Advanta Corp.,T,Advanta Corp. Credit card unit
5,Alex. Brown Inc.,A,Bankers Trust New York Corporation
6,Alex. Brown Inc.,T,Alex. Brown Inc.
7,Allied Colloids Group PLC,T,Allied Colloids Group
8,Allied Colloids Group PLC,B1,Hercules Inc.
9,American First Financial Insurance Group Inc.,T,American Bankers Insurance Group Inc.
10,American First Financial Insurance Group Inc.,A,American International Group Inc.
11,"American Medical Response, Inc.",A,Laidlaw Inc.
12,"American Medical Response, Inc.",T,"American Medical Response, Inc."
13,American Radio Systems Corp.,A,Westinghouse Electric Corp.
14,American Radio Systems Corp.,T,American Radio Systems Corp.
15,"American Standard Companies, Inc.",B,Tyco International Ltd.
16,"American Standard Companies, Inc.",T,"American Standard Companies, Inc."
17,Amerisource Health Corp.,A,McKesson Corp.
18,Amerisource Health Corp.,T,Amerisource Health Corp.
19,Amphenol Corp.,A,Kohlberg Kravis Roberts & Co.
20,Amphenol Corp.,T,Amphenol Corp.
21,Apria Healthcare Group Inc.,A,Investor Group led by Transworld Healthcare Inc.
22,Apria Healthcare Group Inc.,T,Apria Healthcare Group Inc.
23,AT&T Capital Corp.,T,AT&T Capital Corp.
24,AT&T Capital Corp.,A,Newcourt Credit Group Inc.
25,Bankamerica Corp.,T,Security Pacific Financial Services
26,"Barnett Banks, Inc.",A,NationsBank Corporation
27,"Barnett Banks, Inc.",T,"Barnett Banks, Inc."
28,BDM International,T,BDM International Inc.
29,BDM International,A,TRW Inc.
...,...,...,...
302,Valero Energy Corp.,A,PG&E Corporation
303,Valero Energy Corp.,T,Valero Energy Corp.
304,"Value Health, Inc.",A,Columbia-HCA Healthcare Corporation
305,"Value Health, Inc.",T,"Value Health, Inc."
306,"Verifone, Inc.",A,Hewlett-Packard Company
307,"Verifone, Inc.",T,"Verifone, Inc."
308,Viacom Inc.,A,Evergreen Media Corporation
309,Viacom Inc.,A,"Vencor, Inc."
310,Viacom Inc.,T,Viacom Radio Group
311,Viacom Inc.,A,Seagram Co.
312,Viacom Inc.,T,USA Networks
313,Vivra Inc.,A,Incentive AB
314,Vivra Inc.,T,Vivra Inc.
315,W.R. Grace & Comp.,A,Sealed Air Corporation
316,W.R. Grace & Comp.,T,Cryovac
317,Western National Corp.,A,American General Corp.
318,Western National Corp.,T,Western National Corp.
319,Westin Hotels & Resorts,A,Starwood Lodging Trust
320,Westin Hotels & Resorts,T,Westin Hotels & Resorts
321,Westinghouse Electric Corp.,A,Ingersoll-Rand Company
322,Westinghouse Electric Corp.,T,Thermo King
323,Westinghouse Electric Corp.,A,Siemens A.G.
324,Westinghouse Electric Corp.,T,Westinghouse Power Generation
325,Wyndham Hotel Corp.,A,Patriot American Hospitality Inc.
326,Wyndham Hotel Corp.,S,Hampstead Group & GM Pension Trust
327,Wyndham Hotel Corp.,T,Wyndham Hotel Corp.
328,Yorkshire Electricity,A,American Electric Power Co. Inc. and Public Se...
329,Yorkshire Electricity,T,Yorkshire Electricity Group plc
330,Zilkha Energy Co.,T,Zilkha Energy Co.
331,Zilkha Energy Co.,A,Sonat Inc.

In [4]:
# Create a view named DealValues that lists the DealID, total dollar value and number of parts for each deal.
result = %sql SELECT * FROM DealValues;
companies = result.DataFrame()
companies

151 rows affected.

     DealID TotDollarValue  NumParts
0         1      5600.0000         1
1         2      1700.0000         1
2         3      1120.0000         1
3         4      4000.0000         1
4         5      1500.0000         1
5         6      1600.0000         1
6         7      1870.0000         1
7         8      3700.0000         1
8         9      1600.0000         1
9        10      1200.0000         1
10       11      1617.0000         1
11       12      1360.0000         1
12       13      1270.0000         1
13       14      4210.0000         1
14       15      1150.0000         1
15       16      9700.0000         1
16       17      1050.0000         1
17       18      7000.0000         1
18       19      3400.0000         1
19       20      9500.0000         1
20       21      6590.0000         1
21       22      1700.0000         1
22       23      1100.0000         1
23       24      1355.0000         1
24       25     10900.0000         1
25       26      1650.0000         1
26       27      1900.0000         1
27       28      6500.0000         1
28       29      1800.0000         1
29       30      1200.0000         1
..      ...            ...       ...
121     122     19500.0000         2
122     123      3900.0000         2
123     124      1000.0000         1
124     125      8180.0000         1
125     126      1700.0000         1
126     127      3100.0000         1
127     128      1800.0000         1
128     129      1100.0000         1
129     130      4100.0000         1
130     131      1750.0000         1
131     132      1525.0000         1
132     133      1810.0000         1
133     134      2200.0000         1
134     135      1600.0000         1
135     136      1000.0000         1
136     137      6600.0000         1
137     138      1050.0000         1
138     139      6800.0000         1
139     140      1000.0000         1
140     141      2640.0000         2
141     142      1330.0000         1
142     143      3460.0000         1
143     144      5300.0000         1
144     145      1100.0000         1
145     146      1000.0000         1
146     147      1283.0000         1
147     148      2000.0000         1
148     149      2100.0000         1
149     150      1200.0000         1
150     151      1040.0000         1

[151 rows x 3 columns]

In [5]:
# Create a view named DealSummary that lists the DealID, DealName, number of players, total dollar value, and number of parts for each deal.
result = %sql SELECT * FROM DealSummary;
companies = result.DataFrame()
companies

149 rows affected.

,DealID,DealName,NumPlayers,TotDollarValue,NumParts
0,1,ADT Limited,3,5600.0000,1
1,2,Alex. Brown Inc.,2,1700.0000,1
2,3,"American Medical Response, Inc.",2,1120.0000,1
3,4,"American Standard Companies, Inc.",2,4000.0000,1
4,5,Amphenol Corp.,2,1500.0000,1
5,6,Bankamerica Corp.,1,1600.0000,1
6,7,Berliner Kraft & Licht AG,1,1870.0000,1
7,8,Cascade Communications Corp.,2,3700.0000,1
8,9,Chancellor Broadcasting Comp.,2,1600.0000,1
9,10,Cifra S.A.,2,1200.0000,1
10,11,Coca Cola Bottling Co. of New York and Coca-Co...,2,1617.0000,1
11,12,Dauphin Deposit Corp.,2,1360.0000,1
12,13,The Dow Chemical Company,3,1270.0000,1
13,14,DQE Inc.,2,4210.0000,1
14,15,Eller Media Corp.,3,1150.0000,1
15,16,The Energy Group PLC,2,9700.0000,1
16,17,First Financial Corp.,2,1050.0000,1
17,18,"First USA, Inc.",2,7000.0000,1
18,19,Fort Howard Corp.,2,3400.0000,1
19,20,General Motors Corp.,3,9500.0000,1
20,21,Great Western Financial Corp.,3,6590.0000,1
21,22,"Healthsource, Inc.",2,1700.0000,1
22,23,Hercules Inc. and Mallickrodt Inc,2,1100.0000,1
23,24,Heritage Media Corp.,2,1355.0000,1
24,25,HFS Inc.,2,10900.0000,1
25,26,Horizon/CMS Healthcare Corp.,2,1650.0000,1
26,27,International Family Entertainment Inc.,5,1900.0000,1
27,29,Johnson & Higgins,2,1800.0000,1
28,30,Keystone International Inc.,3,1200.0000,1
29,31,KU Energy Corporation,2,1500.0000,1
...,...,...,...,...,...
119,122,ITT Corp.,3,19500.0000,2
120,123,Lin Television Corp.,3,3900.0000,2
121,124,Mac Frugal's Bargains & Close-Outs Inc.,2,1000.0000,1
122,125,"Medpartners, Inc.",2,8180.0000,1
123,126,Quality Food Centers Inc.,3,1700.0000,1
124,127,Ralphs Grocery Company,3,3100.0000,1
125,128,Safety-Kleen Corp.,2,1800.0000,1
126,129,Santa Fe Pacific Pipeline Partners,2,1100.0000,1
127,130,Seagram Company,3,4100.0000,1
128,131,Universal Outdoor Holdings Inc.,2,1750.0000,1
129,132,Westinghouse Electric Corp.,2,1525.0000,1
130,133,Allied Colloids Group PLC,2,1810.0000,1
131,134,American First Financial Insurance Group Inc.,2,2200.0000,1
132,135,AT&T Capital Corp.,2,1600.0000,1
133,136,BDM International,2,1000.0000,1
134,137,Central & South West Corp.,2,6600.0000,1
135,138,Coulter Corp.,2,1050.0000,1
136,139,First of America Bank Corp.,2,6800.0000,1
137,140,Hermann Healthcare System,2,1000.0000,1
138,141,Interstate Hotel Company,3,2640.0000,2
139,142,Lucas Varity PLC,2,1330.0000,1
140,143,MAPCO Inc.,2,3460.0000,1
141,144,"Mercury Asset Management Group, P.L.C.",2,5300.0000,1
142,145,Renal Treatment Centers Inc.,2,1100.0000,1
143,146,Retail Property Trust,5,1000.0000,1
144,147,Showboat Inc.,2,1283.0000,1
145,148,Sodexho Alliance S.A.,2,2000.0000,1
146,149,Starwood Lodging Corp.,2,2100.0000,1
147,150,United Meridian Corp.,2,1200.0000,1
148,151,Zilkha Energy Co.,2,1040.0000,1

In [6]:
#Create a view called DealsByType that lists TypeCode, number of deals, and total value of deals for each deal type.
result = %sql SELECT * FROM DealsByType;
companies = result.DataFrame()
companies

6 rows affected.

  TypeCode  NumDeals TotDollaValue
0      C/S        80   271794.0000
1       CM         3     8030.0000
2       PA         1     1880.0000
3       PF         4    27790.0000
4       SS        59   204658.0000
5       TO        16    55972.0000

In [7]:
# Create a view called DealPlayers that lists the CompanyID, Name, and Role Code for each deal. Sort the players by the RoleSortOrder.
result = %sql SELECT * FROM DealPlayers;
companies = result.DataFrame()
companies

332 rows affected.

,DealID,CompanyID,CompanyName,RoleCode
0,133,277,Allied Colloids Group,T
1,1,3,ADT Limited,T
2,2,6,Alex. Brown Inc.,T
3,3,11,"American Medical Response, Inc.",T
4,4,13,"American Standard Companies, Inc.",T
5,5,16,Amphenol Corp.,T
6,6,216,Security Pacific Financial Services,T
7,8,39,Cascade Communications Corp.,T
8,9,43,Chancellor Broadcasting Comp.,T
9,10,46,Cifra S.A.,T
10,11,51,Coca Cola Bottling Co. of New York and Coca-Co...,T
11,12,66,Dauphin Deposit Corp.,T
12,13,68,"Destec Energy, Inc.",T
13,14,71,DQE Inc.,T
14,15,73,Eller Media Corp.,T
15,16,74,"Energy Group PLC, The",T
16,17,87,First Financial Corp.,T
17,18,89,"First USA, Inc.",T
18,19,92,Fort Howard Corp.,T
19,20,116,Hughes Electronics Corp.,T
20,21,98,Great Western Financial Corp.,T
21,22,102,"Healthsource, Inc.",T
22,23,229,Tastemaker,T
23,24,106,Heritage Media Corp.,T
24,25,108,HFS Inc.,T
25,26,113,Horizon/CMS Healthcare Corp.,T
26,27,123,International Family Entertainment Inc.,T
27,122,127,ITT Corp.,T
28,29,129,Johnson & Higgins,T
29,30,132,Keystone International Inc.,T
...,...,...,...,...
302,108,49,Cineplex Odeon Corp.,M
303,51,85,"First Bank System, Inc.",M
304,34,17,Apollo Management L.P.,M
305,118,78,Ernst & Young LLP,M
306,34,97,GranCare Inc.,M
307,34,145,Living Centers of America Inc.,M
308,101,59,Coopers & Lybrand L.L.P.,M
309,140,307,Memorial Healthcare System,M
310,148,153,"Marriott International, Inc.",M
311,150,283,United Meridian Corp.,M
312,150,282,Ocean Energy Inc.,M
313,60,101,Hampstead Group & GM Pension Trust,S
314,62,178,"Overseas Shipholding Group, Inc.",S
315,64,57,Connecticut General Life Insurance Co.,S
316,15,105,Hellman & Friedman,S
317,121,25,"Barnett Banks, Inc.",S
318,30,175,"Norwest Bank Texas, Trustee",S
319,126,271,Zell/Chillmark Fund,S
320,76,161,Merrill Lynch Capital Partners,S
321,130,232,"Tele-Communications, Inc.",S
322,108,250,"Universal Studios, Inc.",S
323,27,182,Pat Robertson,S
324,27,142,Liberty Media Corporation,S
325,127,273,Apollo Advisors,S
326,108,44,Charles Rosner Bronfman Family Trust,S
327,45,273,Apollo Advisors,D
328,92,273,Apollo Advisors,D
329,40,273,Apollo Advisors,D
330,110,273,Apollo Advisors,D
331,146,295,O'Connor Group (Managers of Property Trust),D

In [8]:
# Create a view called DealsByFirm that lists the FirmID, Name, number of deals, and total value of deals for each firm.
result = %sql SELECT * FROM DealsByFirm;
companies = result.DataFrame()
companies

257 rows affected.

,FirmID,Name,NumDeals,TotValue
0,2,Bryan Cave,4,84480.0000
1,3,Buchanan Ingersol,1,1000.0000
2,11,Dechert Price & Rhoads,2,81202.0000
3,12,"Davies, Ward & Beck",1,1000.0000
4,19,Fulbright & Jaworski,4,4950.0000
5,33,Swindler & Berlin,2,79960.0000
6,36,Troutman Sanders,1,1870.0000
7,41,Goulston & Storrs,1,1000.0000
8,42,Goodman Phillips & Vineberg,1,1000.0000
9,46,Robinson Silverman Pearce Aronsohn & Berman,1,3900.0000
10,50,Schreck Morris,1,19500.0000
11,62,Hughes Hubbard & Reed,1,12000.0000
12,64,Hunton & Williams,1,1080.0000
13,65,"Hutchins, Wheeler & Ditmar",1,1230.0000
14,66,"Fried, Frank, Harris, Shriver & Jacobson",25,151823.0000
15,67,"Richards, Layton & Finger",38,208889.0000
16,68,Sullivan & Cromwell,55,234340.0000
17,69,"Kramer, Levin, Naftalis, Nesse, Kamin & Frankel",1,5600.0000
18,70,Freshfields,5,22530.0000
19,71,Shearman & Sterling,28,168131.0000
20,72,Piper & Marbury,2,2850.0000
21,73,Debevoise & Plimpton,12,23230.0000
22,74,Ropes & Gray,1,1120.0000
23,75,"Winthrop, Stimson, Putnam & Roberts",2,3600.0000
24,76,Simpson Thacher & Bartlett,39,240471.0000
25,77,"Gibson, Dunn & Crutcher",10,25923.0000
26,78,"Weil, Gotshal & Manges",11,49488.0000
27,79,Latham & Watkins,10,34183.0000
28,80,"Morris, Nichols, Arsht & Tunnell",20,148940.0000
29,81,"Paul, Weiss, Rifkind, Wharton & Garrison",15,191227.0000
...,...,...,...,...
227,488,Proskauer Rose Goetz Mendelsohn,1,2625.0000
228,489,RBC Dominion Securities Inc.,2,2814.0000
229,490,Rosenberg & Liebentritt,2,5700.0000
230,491,Rothschild Inc./NM Rothschild & Sons Ltd.,1,78880.0000
231,492,Sonnenschein Nath & Rosenthal,1,1800.0000
232,494,Sullivan & Worcester,1,2600.0000
233,499,"Williams, Mullen, Christian & Dobbins",1,2300.0000
234,500,"Wolf, Block, Schorr & Cohe",1,1300.0000
235,501,Tillinghast,1,2600.0000
236,502,Innisfree M&A Inc.,4,89200.0000
237,503,Schroder Wertheim & Co.,1,1392.0000
238,504,Huber Lawrence Abel,1,1920.0000
239,505,"Kantrow, Spaht, Weaver & Blitzer",1,6200.0000
240,506,"Mallesons, Stephens, Jacques",1,1880.0000
241,507,"Freehill, Hollingdale & Page",1,1880.0000
242,508,"Berlach, Israel & Liberman",1,1880.0000
243,509,Liebowitz & Associates,1,1200.0000
244,510,"Blake, Cassels & Grayson",1,1600.0000
245,511,Toronto Dominion,1,1600.0000
246,512,Salomon Smith Barney,2,10060.0000
247,513,BA Partners,1,1050.0000
248,514,Howard & Howard,1,6800.0000
249,515,Nationsbank ontgomery Securities,1,6800.0000
250,516,Davis Wallis Foyster,1,1330.0000
251,517,Riordan & McKenzie,1,1100.0000
252,518,"Duane, Morris & Heckscher",1,1100.0000
253,519,"Thompson, Hine & Flory",1,1000.0000
254,520,Gordon Altman,1,1000.0000
255,521,Societe Generale Securities Corporation,1,2000.0000
256,522,Wolfensohn,1,1283.0000